<!DOCTYPE html>
<html>
<head>
   <meta content="IE=edge" http-equiv="X-UA-Compatible">
   <title>Fresno County Peace Officers Memorial</title>
</head>
<body>
   // ie supports
   <meta content="width=device-width, initial-scale=1" name="viewport">
   <link href='https://fonts.googleapis.com/css?family=Bitter|Montserrat|Material+Icons' rel='stylesheet' type='text/css'>x
   <link href="../static/lib/animate.css" rel="stylesheet">
   <link href="../static/css/site.css" rel="stylesheet"><!--nav-->
   <link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
   <div class="navbar navbar-fixed-top">
      <div class="container">
         <!--mobile header-->
         <div class="navbar-header">
            <div class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
               <i class="material-icons menuIcon">menu</i>
            </div>
         </div><!--desktop header-->
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
               <li class="section1Btn active">
                  <a>Home</a>
               </li>
               <li class="section2Btn">
                  <a>About</a>
               </li>
               <li class="section3Btn">
                  <a>Board</a>
               </li>
               <li class="section4Btn">
                  <a>List of Fallen</a>
               </li>
               <li class="section5Btn">
                  <a>Gallery</a>
               </li>
               <li class="section6Btn">
                  <a>Events</a>
               </li>
               <li class="section7Btn">
                  <a href="https://squareup.com/store/fresno-county-peace-officers-memorial-foundation-inc/" target="_blank">Shop</a>
               </li>
               <li>
                  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=G72VZ96SCA2ZN" target="_blank">Donate</a>
               </li>
               <li class="loginBtn">
                  <a>Log In</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="editBanner">
      <p>EDIT MODE - click the pencil icon near any text box to edit its contents.</p>
   </div><!--home-->
   <div class="section" id="section1">
      <div class="sectionContent">
         <div class="homeBanner flexParent">
            <div class="col-sm-9">
               <h2 class="homeHeader">Fresno County Peace Officers Memorial Foundation</h2>
            </div>
            <div class="col-sm-3 text-center">
               <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=G72VZ96SCA2ZN" target="_blank">
               <div class="btnRed donateBtn">
                  <h4 class="Montserrat w" style="padding: 0 5px;">DONATE</h4>
               </div></a>
            </div>
         </div>
         <div class="">
            <div class="col-sm-12 homeNotification">
               <h2 class="editable" data-bind="html: homeNotification" id="homeNotificationH"></h2><i class="material-icons editBtn editBtnHomeNotification">edit</i>
               <p>Check the <a class="section6Btn">Events</a> page for more information on upcoming events.</p>
            </div>
         </div>
         <div class="homeFooter centerText">
            <h2 class="">DEDICATED TO THOSE OFFICERS WHO PAID THE ULTIMATE PRICE</h2>
            <div id="homeFooter" data-bind="html: homeFooter"></div>
            <i class="material-icons editBtn editBtnHomeFooter">edit</i><!--
                  <div class="col-sm-3 centerText memLogo">
                      <div style="height: 200px; position: relative;">
                          <div class="borderLeft"><img src="../static/images/memorialCenter.png" style="width: 70%;" /></div>
                      </div>
                  </div>
                  -->
         </div>
      </div>
   </div><!--about-->
   <div class="section" id="section2">
      <div class="section2Inner flexParent">
         <div class="col-sm-9 objectiveContainer">
            <h1>About the Fresno County Peace Officers Memorial Foundation</h1>
            <hr>
            <i class="material-icons editBtn editBtnAboutUs">edit</i>
            <div data-bind="html: aboutUs" id="aboutUs"></div>
         </div>
         <div class="col-sm-3">
            <div class="objectiveContainer">
               <h3>OUR OBJECTIVES & PURPOSES</h3>
               <hr>
               <p>The Fresno County Peace Officers Memorial Foundation, Inc. is organized and its assets are to be used to continue recognizing and honoring fallen peace officers who have died in the line of duty while serving in Fresno County.</p>
               <p>The assets of the Fresno County Peace Officers Memorial Foundation, Inc. will be utilized to construct, maintain, and enhance the Fresno County Peace Officers Memorial in Fresno County Courthouse Park and to administer the annual ceremony conducted during the National Police Week. The Board of Directors may provide for additional assistance, as deemed appropriate, for the families of those officers who are honored.</p>
            </div>
         </div>
      </div>
   </div><!--board-->
   <div class="section" id="section3">
      <h1>Fresno County Peace Officers Memorial Foundation Board</h1>
      <div class="flexParent">
         <div class="col-sm-6 objectiveContainer">
            <h3>Executive Board Members</h3>
            <hr>
            <h3></h3>
            <div data-bind="foreach: $root.boardMembers">
               <!--this section is only for the Executive Board Members-->
               <div class="col-sm-12" data-bind="css: key">
                  <div class="emailLink">
                     <i class="material-icons">email</i>
                     <div class="popover" data-bind="html: data.memberEmailHTML + '&lt;br/&gt;Click to dismiss.'"></div>
                  </div>
                  <p class="memberTitle"><span data-bind="text: data.memberTitle"></span> | <span data-bind="text: data.memberName"></span></p>
               </div>
               <div class="col-sm-12">
                  <p data-bind="html: data.memberPosition"></p>
               </div>
            </div>
         </div><!--board of directors-->
         <div class="col-sm-6 objectiveContainer">
            <h3>Board of Directors</h3>
            <hr>
            <h3></h3>
            <div data-bind="foreach: $root.boardDirectors">
               <div class="col-sm-12" style="padding-bottom:10px;">
                  <div class="emailLink">
                     <div class="popover" data-bind="html: data.memberEmailHTML + '&lt;br/&gt;Click to dismiss.'"></div><i class="material-icons">email</i>
                  </div>
                  <p class="memberTitle" data-bind="text: data.memberName"></p><!--this section is for the board of directors, NOT executive board members-->
                  <p data-bind="html: data.memberPosition" style="display: inline"></p>
               </div>
            </div>
         </div>
      </div>
      <p>Click the envelope next to a board member's name to send them an email. To hide the email pop-up, click the envelope again.</p>
   </div><!--fallen-->
   <div class="section" id="section4">
      <h1>Fresno County's Fallen Officers</h1>
      <div style="margin: 20px;">
         <p>The Fresno County Peace Officers Memorial Foundation, Inc. is organized and its assets are to be used to continue recognizing and honoring fallen peace officers who have died in the line of duty while serving in Fresno County.</p>
         <p>This website is dedicated to those law enforcement officers who paid the ultimate price.</p>
         <p><strong>Scroll to the right to view more officers.</strong></p>
         <div class="timeline" data-bind="foreach: $root.officers()">
            <div class="item" data-bind="attr:{id: data.officerNumber}">
               <h2><span data-bind="text: data.officerName"></span><br>
               <span data-bind="text: data.date"></span></h2>
               <div class="officerImg" data-bind="style: {backgroundImage: 'url(' + data.officerImg + ')'}"></div>
               <div class="officerBio" data-bind="html: data.description"></div>
            </div>
         </div>
         <div class="modal2">
            <div class="modalInner"></div>
         </div>
      </div>
   </div><!--gallery-->
   <div class="section" id="section5">
      <div class="modal">
         <div class="col-sm-6 modalTitle"></div>
         <div class="col-sm-4">
            <span class="showPC">Choose a photo album:</span> <select class="albumDropdown showPC" data-bind="options: $root.albums(), optionsText: 'albumTitle', value: selectedAlbum, optionsCaption: 'Choose an album...'">
            </select>
         </div>
         <div class="modalClose">
            <span>Back to gallery</span>
         </div><!--
            <div class="galleryNav">
                <i class="pull-left galleryLeft material-icons">chevron-left</i>
                <i class="pull-right galleryRight material-icons">chevron-right</i>
            </div>
            -->
         <div class="modalInner"></div>
      </div>
      <h1>Photo Gallery</h1>
      <h4>Click on an album below to view photos from that event.</h4>
      <div class="flexParent" data-bind="foreach: $root.albums()" id="galleryAlbums">
         <div class="galleryImgAlbum" data-bind="css: 'a'+ albumID, click: function(data,event){ $root.selectAlbum(data,event); $root.showModal(data,event)}">
            <h4 data-bind="text: albumTitle"></h4>
         </div>
      </div>
      <hr style="opacity: 0">
      <hr style="opacity: 0">
      <h1>The Fresno County Peace Officers Memorial in Courthouse Park<br>
      <br>
      <span class="smol">Click the image below to open a full-size version in a new tab or window.</span></h1>
      <div id="memorialGallery" style="position: relative;">
         <a href="../static/images/memlg.jpg" target="_blank"><img id="memorialImg" src="../static/images/mem_only_sm.jpg"></a>
      </div>
      <p>As of February 2010, the tenth anniversary of the Fresno County Peace Officers Memorial, there are 56 peace officers honored at the Fresno County Peace Officers Memorial Wall.</p>
   </div>
   <!--events-->
   <div class="section" id="section6">
      <h1>Events</h1>
      <div class="flexParent">
         <div class="col-sm-6">
            <h2>Upcoming Events</h2>
            <div class="eventTable flexParent" data-bind="foreach: $root.events">
               <div class="col-sm-12">
                  <h4 style="display: inline">
                     <span data-bind="text: data.eventTitle"></span> 
                  </h4>
                     <i class="material-icons editBtn editBtnEvent" data-bind="attr:{id: key}, click: function(data,event){$root.selectEvent(data,event); $root.clickEdit(data,event);}">edit</i>
                  
               </div>
               <div class="col-sm-3 eventDate" data-bind="text: $root.parseDate(data.eventDate);"></div>
               <div class="col-sm-3" data-bind="text: $root.parseTime(data.eventTimeStart);"></div>
               <div class="col-sm-6" data-bind="text: data.eventLocation"></div>
               <div class="col-sm-12">
                  <span class="addtocalendar atc-style-blue">
                     <var class="atc_event">
                        <var class="atc_date_start" data-bind="text: data.eventDate + ' ' + data.eventTimeStart">2017-05-04 12:00:00</var> 
                        <var class="atc_date_end" data-bind="text: data.eventDate + ' ' + data.eventTimeEnd">2017-05-04 18:00:00</var>
                        <var class="atc_timezone">America/Los_Angeles</var> 
                        <var class="atc_title" data-bind="text: data.eventTitle">Title</var> 
                        <var class="atc_description" data-bind="text: data.eventDescription">Description</var> 
                        <var class="atc_location" data-bind="text: data.eventLocation">Location</var> 
                        <var class="atc_organizer"></var> 
                        <var class="atc_organizer_email"></var>
                     </var>
                  </span>
               </div>
               <div class="borderTop col-sm-12">
                  <hr style="border-color: #054663;">
               </div>
            </div>
         </div>
         <div class="col-sm-6">
            <h2>Past Events</h2>
            <h4>Secretary Alicia Engellenner's Retirement</h4>
            <p>ALICIA ENGELLENNER<br>
            SECRETARY<br>
            FRESNO COUNTY PEACE OFFICER’S MEMORIAL FOUNDATION<br>
            <br>
            October 2005 – August 2016<br>
            <br>
            In sincere appreciation for over ten years of dedicated service as a member of the Executive Board to the Fresno County Peace Officer’s Memorial Foundation.<br>
            The perseverance and dedication that you displayed was an inspiration to everyone.<br>
            And thank you for the many hours of unwavering duty which involved a great deal of sacrifice to your family and personal life.<br>
            <br>
            Your colleagues and friends wish you the best of luck in your future endeavors.</p>
            <div class="borderTop"></div>
            <h4>2016 Peace Officers Memorial Week</h4>
            <p>Click <a href="../static/images/Proclamation.pdf">here</a> to download the 2016 Peace Officers Memorial Week Proclamation.</p><object class="pdf" data="../static/images/Proclamation.pdf" height="200" type="application/pdf" width="300">
               This file cannot be displayed in your browser. Click <a href="../static/images/Proclamation.pdf">here</a> to download it as a .PDF.
            </object>
         </div>
      </div>
      <div class="modal editEventModal">
         <div class="modalInner">
            <h1>Edit this event</h1>
            <form>
            <label>Event name</label>
               <input data-bind="value: $root.selectedEvent().eventTitle" style="width: auto;"/>
               <br/>
            <label>Event date YYYY-MM-DD</label>
               <input data-bind="value: $root.selectedEvent().eventDate" style="width: auto;" />
               <br/>
            <label>Event time HH:MM:SS (24 hr)</label>
               <input data-bind="value: $root.selectedEvent().eventTimeStart" style="width: auto;"/>
               <br/>
               <input data-bind="value: $root.selectedEvent().eventLocation" style="width: auto;"" />
               <br/>
            </form>
            <div class="btn" data-bind="click: function(){$root.save();}">
               Save
            </div><img class="check saveCheck" src="../static/images/check-icon.png">
            <div class="close">
               x
            </div>
         </div>
      </div>
   </div>
   <div class="modal loginModal">
      <div class="box">
               <h1 style="color: #000; text-shadow: none">Log in</h1>
         <div class="loginBox ">
               <input data-bind="value: $root.user" type="email">
               <br/>
               <input data-bind="value: $root.pass" type="password">
            </div>
            <div class="submitBtn btn" data-bind="click: function(){$root.submit();}">
               Submit
            </div>
            <div class="submitBtn btn" data-bind="click: function(){$root.signUp();}">
               Sign Up
            </div>
            <div class="close"> x </div>
            <img class="check" src="../static/images/check-icon.png">
         </div>
      </div>
   <div class="modal editModal">
      <div class="modalInner">
         <textarea id="editor"></textarea>
         <div class="btn saveBtn">
            Save
         </div><img class="check saveCheck" src="../static/images/check-icon.png">
         <div class="close">
            x
         </div>
      </div>
   </div>
  

   <!--JS-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js">
   </script> 
   <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js">
   </script> 
   <script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js">
   </script> 
   <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyDXUt5whL27dkWjjfqLqX7BD0xgw1EJd8I",
          authDomain: "fcpomf-16753.firebaseapp.com",
          databaseURL: "https://fcpomf-16753.firebaseio.com",
          storageBucket: "fcpomf-16753.appspot.com",
          messagingSenderId: "60804743142"
        };
        firebase.initializeApp(config);
   </script> 
   <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js">
   </script> <!--Site scripts
-->
    
   <script src="../static/js/BoardViewModel.js">
   </script> 
   <script src="../static/js/EventsViewModel.js">
   </script> 
   <script src="../static/js/GalleryViewModel.js">
   </script> 
   <script src="../static/js/officers.js">
   </script> 
   <script src="../static/js/site.js">
   </script>
</body>
</html>