/*LESS colors*/


/*mixins*/

.flexParent {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    text-align: center;
    padding: 5px;
    margin: 5px;
    transition: all 0.2s ease;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.col-sm-12 {
    flex-basis: 100%;
}

.col-sm-9 {
    flex: 3;
}

.col-sm-6 {
    flex: 2;
}

.col-sm-3 {
    flex: 1;
}

.centerText {
    text-align: center;
}

.Montserrat {
    font-family: Montserrat, 'Trebuchet MS', Calibri, Arial, sans-serif;
}

.Bitter {
    font-family: Bitter, Cambria, Georgia, Calibri, Arial, sans-serif;
}

.sansSerif {
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

.w {
    color: #fff;
}

.textShadow {
    text-shadow: 1px 1px 2px #000;
}

.fade {
    transition: all 0.2s ease;
}

.borderLeft {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.borderLeft2 {
    border-left: 1px solid #fff;
}

.borderTop {
    width: 100%;
    margin-top: 55px;
    border-top: 1px solid #272727;
}

.smol {
    font-family: Calibri, Arial;
    font-size: 14px;
}


/*global styling*/

body {
    color: #fff;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    background: url(../images/flagBkg.jpg) fixed center center no-repeat;
    background-size: cover;
    overflow-x: hidden;
    margin: 0px;
}

h1,
h2,
h3,
h4 {
    font-family: Bitter, Cambria, Georgia, Calibri, Arial, sans-serif;
    font-weight: 200;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    padding: 10px 30px 10px 10px;
}

.eventDate {
    padding-left: 25px!important;
}

p {
    padding: 5px 30px 5px 10px;
}

a {
    text-decoration: none;
    color: #03a9f4;
}

a:hover {
    cursor: pointer;
}

.btnBlue {
    background: #054663;
}

.btnBlue:hover {
    background: #0979ac;
}

.btnRed {
    background: #921c28;
}

hr {
    border-color: #ffffff;
}

.hrDark {
    border-color: #111;
}

.popover-title,
.popover-content {
    color: #000;
    text-shadow: none;
}

.pdf {
    width: 100%;
    height: 60vh;
}


/*navbar styling*/


/*mobile nav*/

.navbar-header {
    display: none;
}

.menuIcon {
    position: absolute;
    top: 10px;
    right: 10px;
}


/*desktop nav*/

.navbar-collapse {
    transition: 0.5s max-height ease-in;
    background: #161616;
    border-bottom: 1px solid #3d3d3d;
    width: 100vw;
    max-height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    overflow: hidden;
}

.collapse {
    overflow: hidden;
}

.navbar {
    background: #161616;
    border-bottom: 1px solid #3d3d3d;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
}

ul.nav {
    list-style-type: none;
    padding: 10px!important;
    margin: 0px;
}

.nav > li {
    display: inline-block;
    padding: 10px;
}

.nav > li > a {
    font-family: Montserrat, 'Trebuchet MS', Calibri, Arial, sans-serif;
    color: #fff;
    transition: all 0.2s ease;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 10px;
}

.nav > li:hover {
    background: #0979ac;
    cursor: pointer;
}

.active {
    background: #054663;
    color: #fff;
}


/*section styling*/

.section {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

#section1 {
    background: rgba(6, 29, 42, 0.8);
}

#section2 {
    background: url(../images/mem.jpg);
    background-size: cover;
}

.section2Inner {
    width: 90vw;
    margin: 0 auto;
    margin-top: 50px;
}

#section3 {
    background: rgba(6, 29, 42, 0.4);
    padding: 20px;
}

#section4 {
    background: rgba(0, 0, 0, 0.7) url(../images/memlg.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 20px;
}

#section5 {
    background: rgba(6, 29, 42, 0.4);
    padding: 20px;
}

#section6 {
    background: rgba(0, 29, 42, 0.8);
    padding: 20px;
}


/*section 1 styling*/

.homeFooter {
    min-height: 30vh;
    width: 100vw;
    margin-left: 0;
}

#section1 {
    overflow-y: hidden;
}

.homeHeader {
    padding: 30px;
    font-size: 3.3em;
}

.homeBanner {
    width: 100vw;
    height: 50vh;
    padding: 60px 0 0 0;
    background: url("../images/mem.jpg") center top fixed no-repeat;
    background-size: 100% auto;
}

.homeNotification {
    background: #054663;
    text-align: center;
    margin-top: -25px;
}

.donateBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    width: 200px;
    border-radius: 6px;
}


/*about page styling*/

.aboutContainer {
    margin: 10px;
    padding: 0 20px 0 20px;
}

.objectiveContainer {
    background-color: #054663;
    height: 100%;
    padding: 20px;
    margin: 10px;
}

.objectiveContainer > h3 {
    padding: 0px 30px 10px 30px;
    text-shadow: none;
}

.objectiveContainer > hr {
    border-color: #0979ac;
    width: 90%;
    margin: 0 auto;
}

.objectiveContainer > h3 > hr {
    border-color: #0979ac;
}


/*board page styling*/

.memberTitle {
    display: inline;
    padding: 0px 10px;
    font-weight: bold;
}

.emailLink {
    padding: 10px;
    user-select: none;
    width: 20px;
    display: inline;
}

.emailLink:hover {
    cursor: pointer;
}


/*timeline styling*/

.timeline {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.item {
    flex: 0 0 25%;
    position: relative;
    margin: 10px;
    background: #fff;
    color: #000!important;
    transition: all 0.3s ease;
}

.item > h4 {
    color: #000!important;
    text-shadow: none;
}

.item:hover {
    cursor: pointer;
    background: #0e0e0e;
}

.item:hover h4 {
    color: #fff!important;
}

.officerImg {
    position: absolute;
    width: 40%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    height: 70%;
    background: center center no-repeat;
    background-size: cover;
}


/*gallery styling*/

#memorialImg {
    width: 100vw;
    left: 0;
    right: 0;
    margin: auto;
}


/*modal pop-up styling*/

.modal {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50px;
    padding: 30px;
    left: 0;
    background: rgba(0, 0, 0, 0.95);
    z-index: 2;
    overflow: auto;
}

.loginModal {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50px;
    left: 0;
    background: rgba(0, 0, 0, 0.95);
    z-index: 2;
    overflow: auto;
}

.loginModal > .box {
    height: 36vh;
    width: 36vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    background: #fff;
    color: #111!important;
    text-align: center;
}

.submitBtn {
    background: #0979ac;
    color: #fff;
    width: 33%;
    margin: 0 auto;
    margin-top: 13px;
}

.check {
    height: 100%;
    display: none;
}

.box > form > label {
    width: 100px;
}

.modal2 {
    display: none;
    top: 50px;
    padding: 20px;
    left: 0;
    background: rgba(0, 0, 0, 0.95);
    z-index: 2;
    overflow: auto;
    width: 70vw;
    height: 50vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0e0e0e;
    box-shadow: 5px 5px 20px #000;
}

.modalInner {
    margin-top: 100px;
}

.modalInner2 {
    padding: 20px;
}

.close {
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;
}

.modalClose {
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 30px;
    padding: 10px;
    background: rgba(0, 54, 77, 0.8);
}

.modalClose > span {
    font-size: 17px;
}

.modalClose2 {
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.modalClose2 > span {
    font-size: 17px;
}

.albumDropdown {
    background: #333;
    color: #fff;
    border: none;
    font-size: 1em;
    max-width: 100%;
    text-overflow: ellipsis;
}

#galleryAlbums {
    width: 90vw;
    margin: 0 auto;
    min-height: 300px;
}

.galleryImg {
    max-width: 200px;
    max-height: 200px;
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: #000 0px 0px 300px inset;
    background-blend-mode: luminosity;
}

.galleryImg:hover {
    box-shadow: none;
}

.galleryImg > h4 {
    text-shadow: 0px 0px 5px #000 !important;
    cursor: pointer;
}

.galleryImgAlbum {
    flex: 0 1 auto;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: #000 0px 0px 300px inset;
    background-blend-mode: luminosity;
    background-size: cover!important;
    border: 1px solid #4b4b4b;
}

.galleryImgAlbum:hover {
    box-shadow: none;
    background-blend-mode: normal;
}

.galleryImgAlbum > h4 {
    text-shadow: 0px 0px 5px #000 !important;
    cursor: pointer;
}

.galleryImgAlbum > h4 {
    text-shadow: 1px 1px 2px #000 !important;
    cursor: pointer;
}

.galleryImgAlbum:hover {
    box-shadow: none;
}

.galleryImgSmall {
    max-width: 200px;
    max-height: 200px;
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    box-shadow: #000 0px 0px 300px inset;
    background-blend-mode: luminosity;
    width: 100px;
    height: 100px;
}

.galleryImgSmall:hover {
    box-shadow: none;
}

.galleryImgSmall > h4 {
    text-shadow: 0px 0px 5px #000 !important;
    cursor: pointer;
}

.thumbnails {
    width: 80vw;
    margin: 0 auto;
    margin-top: 20px;
    height: 220px;
    overflow: auto;
}


/*backgrounds for each album - the class name is the year and an acronym of the event name*/

.a2010FCPOM {
    background: url(../images/2010FCPOM/1.jpg), #000000;
}

.a2010MCC {
    background: url(../images/2010MCC/2.jpg), #000000;
}

.a2010NLEM {
    background: url(../images/2010NLEM/1.jpg), #000000;
}

.a2010PUSHF {
    background: url(../images/2010PUSHF/1.jpg), #000000;
}

.a2013FCPOM {
    background: url(../images/2013FCPOM/1.jpg), #000000;
}

.a2014FCPOM {
    background: url(../images/2014FCPOM/1.jpg), #000000;
}

.aMaldonadoHighwaySign {
    background: url(../images/MaldonadoHighwaySign/6.jpg), #000000;
}

.aMaldonadoPark {
    background: url(../images/MaldonadoHighwaySign/5.jpg), #000000;
}

.imgActive {
    -webkit-filter: brightness(1);
}

.galleryImgMain {
    height: 40vh;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #0C0C0C;
    cursor: pointer;
}

.galleryNav {
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    font-size: 36px;
}

.galleryNav:hover {
    cursor: pointer;
}


/*events page*/

.calendarBtn {
    margin-left: 20px;
}


/*media queries*/

@media (max-width: 768px) {
    /*for most mobile devices including tablets and large phones*/
    .collapse {
        max-height: 0px;
    }
    .navbar-collapse {
        top: 50px;
    }
    .navbar-header {
        display: block;
    }
    .nav > li {
        display: block;
    }
    .flexParent {
        flex-direction: column;
    }
    .section {
        padding: 0px;
        margin-top: 20px;
        width: unset;
    }
    #section1 {
        background-size: cover;
    }
    .homeHeader,
    .homeBanner {
        background-size: auto 100%;
        background-position: left top;
    }
    .homeBanner {
        margin-left: 0px;
        height: 80vh;
    }
    .homeHeader {
        font-size: 36px;
        margin-top: 15%;
    }
    .donateBtn {
        margin-top: 0px;
        position: unset;
        top: unset;
        transform: none;
        width: 200px;
        height: 70px;
        border-radius: 6px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .memLogo {
        display: none;
    }
    .objectiveContainer {
        padding: 20px 40px 20px 20px;
    }
    .showPC {
        display: none;
    }
    .galleryImgMain,
    .galleryNav {
        display: none;
    }
    .galleryImgSmall {
        box-shadow: none;
    }
    .modal2 {
        width: 100vw;
        height: 85vh;
    }
    .modalInner {
        margin-top: 0px;
    }
    .modalClose {
        position: fixed;
        top: 53px;
        right: 30px;
    }
    .modalClose > span {
        font-size: 16px;
    }
    .thumbnails {
        height: 100%;
    }
    .item {
        flex: 0 0 90%;
    }
}

@media (max-width: 480px) {
    /*for phones with smaller screens*/
    h1 {
        font-size: 32px !important;
    }
    h3 {
        font-size: 18px !important;
    }
}
